<<h1 class="display-1 text-center">{{title}}</h1>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1280px-Angular_full_color_logo.svg.png" class="rounded mx-auto d-block w-25 h-25" alt="...">

<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingCLI">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseCLI" aria-expanded="false" aria-controls="flush-collapseCLI">
        Angular CLI & Other useful npm commands
      </button>
    </h2>
    <div id="flush-collapseCLI" class="accordion-collapse collapse" aria-labelledby="flush-headingCLI" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="d-flex align-items-start">
          <div class="nav flex-column nav-pills me-3" id="cli-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="cli-pills-home-tab" data-bs-toggle="pill" data-bs-target="#cli-pills-home" type="button" role="tab" aria-controls="cli-pills-home" aria-selected="true">NPM Commands</button>
            <button class="nav-link" id="cli-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#cli-pills-profile" type="button" role="tab" aria-controls="cli-pills-profile" aria-selected="false">Angular CLI</button>
            <button class="nav-link" id="cli-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#cli-pills-messages" type="button" role="tab" aria-controls="cli-pills-messages" aria-selected="false">Angular File Structure</button>
            <button class="nav-link" id="cli-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#cli-pills-settings" type="button" role="tab" aria-controls="cli-pills-settings" aria-selected="false">Settings</button>
          </div>
          <div class="tab-content" id="cli-pills-tabContent">
            <div class="tab-pane fade show active" id="cli-pills-home" role="tabpanel" aria-labelledby="cli-pills-home-tab">
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action disabled bg-dark text-white border-white" aria-current="true">
                  node version | node -v
                </a>
                <a href="#" class="list-group-item list-group-item-action disabled bg-dark text-white border-white">npm version | npm -v</a>
                <a href="#" class="list-group-item list-group-item-action disabled bg-dark text-white border-white">npm install -g @angular/cli | npm install -g @angular/cli@9.0.0 (specific version)</a>
                <a href="#" class="list-group-item list-group-item-action disabled bg-dark text-white border-white">npm install (will install all the dependencies inside 'node_modules' folder from package.json & package-lock.json files)</a>
                <a href="#" class="list-group-item list-group-item-action disabled bg-dark text-white border-white">npm start (inside Angular project folder to run the app /server) | equivalent to => ng serve</a>
                <a href="#" class="list-group-item list-group-item-action disabled bg-dark text-white border-white">ctrl + c (to close the app /server)</a>
                <a href="#" class="list-group-item list-group-item-action disabled bg-dark text-white border-white">code . (opens visual studio with all the files in the folder as project)</a>
                <!-- <a href="#" class="list-group-item list-group-item-action disabled bg-dark text-white border-white" tabindex="-1" aria-disabled="true">A disabled link item</a> -->
              </div>
            </div>
            <div class="tab-pane fade" id="cli-pills-profile" role="tabpanel" aria-labelledby="cli-pills-profile-tab">
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action disabled bg-dark text-white border-white">ng version | ng -v</a>
                <a href="#" class="list-group-item list-group-item-action disabled bg-dark text-white border-white">ng help | ng generate --help</a>
                <a href="#" class="list-group-item list-group-item-action disabled bg-dark text-white border-white">ng new project_name</a>
                <a href="#" class="list-group-item list-group-item-action disabled bg-dark text-white border-white">ng new solution_name --create-application=false</a>
                <a href="#" class="list-group-item list-group-item-action disabled bg-dark text-white border-white">ng generate application project_name | ng g application project_name (inside Angular Solution folder to cretae new app / web project)</a>
                <a href="#" class="list-group-item list-group-item-action disabled bg-dark text-white border-white">ng generate library library_name | ng g library library_name (inside Angular Solution folder to cretae new library project)</a>
                <a href="#" class="list-group-item list-group-item-action disabled bg-dark text-white border-white">ng serve | ng serve -o (inside Angular Project folder to run the app /server) | -o will open the default browser automatically</a>
                <a href="#" class="list-group-item list-group-item-action disabled bg-dark text-white border-white">ng generate component componenet_name | ng g c componenet_name</a>
                <a href="#" class="list-group-item list-group-item-action disabled bg-dark text-white border-white">ng g c componenet_name --inline-style --inline-template</a>
                <a href="#" class="list-group-item list-group-item-action disabled bg-dark text-white border-white">ng generate module module_name | ng g m module_name</a>
                <!-- <a href="#" class="list-group-item list-group-item-action disabled bg-dark text-white border-white" tabindex="-1" aria-disabled="true">A disabled link item</a> -->
              </div>
            </div>
            <div class="tab-pane fade" id="cli-pills-messages" role="tabpanel" aria-labelledby="cli-pills-messages-tab">
              <div class="accordion-body">
                <nav>
                  <div class="nav nav-tabs" id="file-nav-tab" role="tablist">
                    <button class="nav-link active" id="file-nav-home-tab" data-bs-toggle="tab" data-bs-target="#file-nav-home" type="button" role="tab" aria-controls="file-nav-home" aria-selected="true">package.json</button>
                    <!-- <button class="nav-link" id="file-nav-profile-tab" data-bs-toggle="tab" data-bs-target="#file-nav-profile" type="button" role="tab" aria-controls="file-nav-profile" aria-selected="false">Profile</button> -->
                    <button class="nav-link" id="file-nav-angular-tab" data-bs-toggle="tab" data-bs-target="#file-nav-angular" type="button" role="tab" aria-controls="file-nav-angular" aria-selected="false">angular.json</button>
                    <button class="nav-link" id="file-nav-contact-tab" data-bs-toggle="tab" data-bs-target="#file-nav-contact" type="button" role="tab" aria-controls="file-nav-contact" aria-selected="false">others</button>
                  </div>
                </nav>
                <div class="tab-content m-2" id="file-nav-tabContent">
                  <div class="tab-pane fade show active" id="file-nav-home" role="tabpanel" aria-labelledby="file-nav-home-tab">
                    <div class="list-group">
                      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">
                        This file is a must to run and build the project properly. It contains all the dependent node packages name & version for the project
                      </a>
                    </div>

                    <div class="list-group">
                      <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">"scripts":</h5>
                          <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">All the npm commands for the project is defined in scripts</p>
                        <small class="text-muted">You can also add any ng commands or other commands to run through npm.</small>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">"dependencies":</h5>
                          <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">All the dependent node modules /packages for the project to run is defined in dependencies</p>
                        <small class="text-muted">No need to add dependencies which are only needed while building the app. For example : Typescript</small>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">"devDependencies":</h5>
                          <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">All the node modules / packages which are only needed to work on the project but not needed to run the project is defined in devDependencies</p>
                        <small class="text-muted">For example : Typescript module shold be added in devDependencies</small>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">"version":</h5>
                          <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">Holds the version number of the app / project</p>
                        <small class="text-muted">It's important for package-lock.json file. For example your project is dependent on a particular version of a 3rd party module</small>
                      </a>
                    </div>
                  </div>
                  <!-- <div class="tab-pane fade" id="file-nav-profile" role="tabpanel" aria-labelledby="file-nav-profile-tab">
                    Profile...
                  </div> -->
                  <div class="tab-pane fade" id="file-nav-angular" role="tabpanel" aria-labelledby="file-nav-angular-tab">
                    <div class="list-group">
                      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">
                        This file is a must for Angular project / solution configuration. It contains all the necessary setting for the Project to work properly
                      </a>
                    </div>

                    <div class="list-group">
                      <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">"newProjectRoot": "projects"</h5>
                          <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1"><code>'ng generate application project_name'</code> for this command All the projects under the Angular solution / workspace will be created inside "projects" folder by default</p>
                        <small class="text-muted">To change this you need to change the value of this key : "newProjectRoot"</small>
                      </a>
                      <div class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">"projects":</h5>
                          <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">All the projects configuration will be inside this "projects" key</p>
                        <small class="text-muted">For single project there will be single object and for multiple projects / libraries there will be multiple objects inside "projects" key</small>
                        <div class="list-group m-2">
                          <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">"projectType": "application"</h5>
                              <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">name of the project type is defined here</p>
                            <small class="text-muted">No need to change anything here.</small>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">"root":</h5>
                              <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">Path of the Project. For Single project is will be empty.</p>
                            <small class="text-muted">For multiple Projects there will be a path most likely : projects/project_name</small>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">"sourceRoot": "src"</h5>
                              <small class="text-muted">3 days ago</small>
                            </div>
                            <p class="mb-1">By default "src" is the folder where all your source code files will be available</p>
                            <small class="text-muted">For example : index.html, main.ts, modules, components, services etc</small>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">"outputPath": "dist/project_name"</h5>
                              <small class="text-muted">projects.architect.options.outputPath</small>
                            </div>
                            <p class="mb-1">By default projects build compiled files will be inside "dist/project_name"</p>
                            <small class="text-muted">For Asp.Net Core output should be : wwwroot</small>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">"index": "src/index.html"</h5>
                              <small class="text-muted">projects.architect.options.index</small>
                            </div>
                            <p class="mb-1">Since Angular is a Single Page Application (SPA). So by default it will render everything inside "index.html" file</p>
                            <small class="text-muted"></small>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">"main": "src/main.ts"</h5>
                              <small class="text-muted">projects.architect.options.main</small>
                            </div>
                            <p class="mb-1">This "main.ts" file is the main entry point of the Angular project</p>
                            <small class="text-muted"></small>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">"polyfills": "src/polyfills.ts"</h5>
                              <small class="text-muted">projects.architect.options.polyfills</small>
                            </div>
                            <p class="mb-1">If you want to support Angular in any unsupported browser like IE then all those lagacy code will be written here</p>
                            <small class="text-muted"></small>
                          </a>
                          <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">"tsConfig": "tsconfig.app.json"</h5>
                              <small class="text-muted">projects.architect.options.tsConfig</small>
                            </div>
                            <p class="mb-1">By default Angular use this "tsconfig.app.json" file for the TypeScript configuration</p>
                            <small class="text-muted">This "tsconfig.app.json" file basically extended the configuration from "tsconfig.json" file</small>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="file-nav-contact" role="tabpanel" aria-labelledby="file-nav-contact-tab">
                    <div class="list-group">
                      <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">package-lock.json</h5>
                          <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">This file similar like package.json and also quite important file. The only difference is, it contains all the dependent node modules name & version for all the 3rd party node modules which we are using for our project</p>
                        <small class="text-muted"></small>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">node_modules (folder)</h5>
                          <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">All the 3rd party packages / libraries are download & installed inside "node_modules" folder</p>
                        <small class="text-muted">No need to touch or make any changes inside "node_modules" folder</small>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">.browserslistrc</h5>
                          <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">All the Browsers that supported Angular is listed here</p>
                        <small class="text-muted"></small>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">.editorconfig</h5>
                          <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">All your IDE related setting & configuration will be added here</p>
                        <small class="text-muted"></small>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">.gitignore</h5>
                          <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">All the files & folder which are not needed to push in git will be listed inside the file</p>
                        <small class="text-muted">For Example : /node_modules, /dist, /.vscode/*, .vscode/settings.json etc</small>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">karma.conf.js</h5>
                          <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">To customize Karma library configurations we can make changes in "karma.conf.js" file</p>
                        <small class="text-muted">Angular use Karma library to write any sort of test cases for our Project.</small>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">tsconfig.json</h5>
                          <small class="text-muted">3 days ago</small>
                        </div>
                        <p class="mb-1">To customize the Typescript compiler we can make changes in this "tsconfig.json" file</p>
                        <small class="text-muted">Note : "tsconfig.spec.json" is used for testing ts code</small>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="cli-pills-settings" role="tabpanel" aria-labelledby="cli-pills-settings-tab">Settings...</div>
          </div>
        </div>
      </div>
      <!-- Button trigger modal -->
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Launch modal for code / more details
        </button>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingZero">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseZero" aria-expanded="false" aria-controls="flush-collapseZero">
        Basics Concepts #0
      </button>
    </h2>
    <div id="flush-collapseZero" class="accordion-collapse collapse" aria-labelledby="flush-headingZero" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <ol class="list-group list-group-numbered">
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Text Interpolation</div>
              <p class="alert alert-success">type any <code>{{</code>varable_name<code>}}</code> inside html to print value as string</p>
              <p class="alert alert-success">also can do stuff like : <code>{{</code>2+2*4<code>}}</code> or <code>{{</code>count==15<code>}}</code> or <code>{{</code>count+15<code>}}</code></p>
              <p class="alert alert-success">you can even bind class name with text interpolation like this : <code>&lt;span class="{{</code><code>varable_name}}"&gt;typeof&lt;/span&gt;</code></p>
              <p class="alert alert-danger">can't do stuff like : <code>{{</code>count=15<code>}}</code> or <code>{{</code>count++<code>}}</code> or <code>{{</code> <span class="text-primary">typeof</span> count<code>}}</code></p>
            </div>
            <button class="badge bg-primary rounded-pill" (click)="Counter()">{{count}}</button>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Event binding & function calling</div>
              <p class="alert alert-success">Click Event <button type="button" class="btn btn-secondary btn-sm" (click)="ClickMe('button clicked')">{{eventOutputModal.click}}</button></p>

            </div>
            <span class="badge bg-primary rounded-pill">14</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Subheading</div>
              Cras justo odio
            </div>
            <span class="badge bg-primary rounded-pill">14</span>
          </li>
        </ol>
      </div>
      <!-- Button trigger modal -->
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Launch modal for code / more details
        </button>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">Home...</div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">Profile...</div>
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">Contact...</div>
        </div>
      </div>
      <!-- Button trigger modal -->
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Launch modal for code / more details
        </button>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="d-flex align-items-start">
          <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</button>
            <button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</button>
            <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</button>
            <button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</button>
          </div>
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">Home...</div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">Profile...</div>
            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">Message...</div>
            <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">Settings...</div>
          </div>
        </div>
      </div>
      <!-- Button trigger modal -->
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Launch modal for code / more details
        </button>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card text-white bg-primary mb-3">
              <div class="card-header">Header</div>
              <div class="card-body">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <div class="card-footer border-primary">Footer</div>
            </div>
          </div>
          <div class="col">
            <div class="card border-success mb-3">
              <div class="card-header bg-transparent border-success">Header</div>
              <div class="card-body text-success">
                <h5 class="card-title">Success card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
              <div class="card-footer bg-transparent border-success">Footer</div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Button trigger modal -->
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Launch modal for code / more details
        </button>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFour">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
        Accordion Item #4
      </button>
    </h2>
    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Button trigger modal -->
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Launch modal for code / more details
        </button>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingFive">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
        Accordion Item #5
      </button>
    </h2>
    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <!-- Carousel -->
        <div id="demo" class="carousel slide" data-bs-ride="carousel">

          <!-- Indicators/dots -->
          <div class="carousel-indicators">
            <button title="indicator1" type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button title="indicator2" type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button title="indicator3" type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
          </div>

          <!-- The slideshow/carousel -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../assets/images/pexels-pixabay-210186.jpg" alt="Los Angeles" class="d-block w-100">
              <div class="carousel-caption">
                <h3>Slider 1</h3>
                <p>We had such a great time in Slider 1!</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="../assets/images/pexels-pixabay-221433.jpg" alt="Chicago" class="d-block w-100">
              <div class="carousel-caption">
                <h3>Slider 2</h3>
                <p>We had such a great time in Slider 2!</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="../assets/images/pexels-sindre-strøm-1144176.jpg" alt="New York" class="d-block w-100">
              <div class="carousel-caption">
                <h3>Slider 3</h3>
                <p>We had such a great time in Slider 3!</p>
              </div>
            </div>
          </div>

          <!-- Left and right controls/icons -->
          <button title="previous" class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </button>
          <button title="next" class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
          </button>
        </div>
      </div>
      <!-- Button trigger modal -->
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Launch modal for code / more details
        </button>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingSix">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
        Accordion Item #6
      </button>
    </h2>
    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <!--<ngb-carousel>-->
        <ng-template ngbSlide *ngFor="let image of images">
          <div class="wrapper">
            <img [src]="image.src" alt="Random first slide" class="d-block w-100">
          </div>
          <div class="carousel-caption">
            <h3>{{ image.title }}</h3>
            <p>{{ image.short }}</p>
          </div>
        </ng-template>
        <!--</ngb-carousel>-->
      </div>
      <!-- Button trigger modal -->
      <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
          Launch modal for code / more details
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="Hide()">Understood</button>
      </div>
    </div>
  </div>
</div>
