<div class="container">
  <!-- Pills navs -->
  <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
    <!--href="#pills-login"-->
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="tab-login" data-mdb-toggle="pill" routerLink="/auth/login" role="tab"
         aria-controls="pills-login" aria-selected="true">Login</a>
    </li>
    <!--href="#pills-register"-->
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="tab-register" data-mdb-toggle="pill" routerLink="/auth/register" role="tab"
         aria-controls="pills-register" aria-selected="false">Register</a>
    </li>
  </ul>
  <!-- Pills navs -->
  <!-- Pills content -->
  <div class="tab-content">
    <div class="tab-pane fade show active" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
      <form [formGroup]="registerForm" (ngSubmit)="Register(registerForm.valid)">
        <div class="text-center mb-3">
          <p>Sign up with:</p>
          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-facebook-f"></i>
          </button>

          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-google"></i>
          </button>

          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-twitter"></i>
          </button>

          <button type="button" class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github"></i>
          </button>
        </div>

        <p class="text-center">or:</p>

        <!-- First Name input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="registerFirstName">First Name:</label>
          <input type="text" id="registerFirstName" class="form-control" [ngClass]="{'is-invalid': registerForm.controls['FirstName'].dirty && registerForm.controls['FirstName'].errors}" name="FirstName" placeholder="FirstName" formControlName="FirstName" />
          <p for="registerFirstName" class="form-label text-danger" *ngIf="registerForm.controls['FirstName'].errors?.['minlength']">Minimum length should be 3</p>
          <p for="registerFirstName" class="form-label text-danger" *ngIf="registerForm.controls['FirstName'].errors?.['pattern']">Not a valid name</p>
        </div>

        <!-- Last Name input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="registerLastName">Last Name:</label>
          <input type="text" id="registerLastName" class="form-control" [ngClass]="{'is-invalid': registerForm.controls['LastName'].dirty && registerForm.controls['LastName'].errors}" name="LastName" placeholder="LastName" formControlName="LastName" />
          <p for="registerLastName" class="form-label text-danger" *ngIf="registerForm.controls['LastName'].errors?.['minlength']">Minimum length should be 3</p>
          <p for="registerLastName" class="form-label text-danger" *ngIf="registerForm.controls['LastName'].errors?.['pattern']">Not a valid name</p>
        </div>

        <!-- Gender select -->
        <div class="form-outline mb-4">
          <label class="form-label" for="registerGender">Gender</label>
          <select id="registerGender" class="form-select" aria-label="Default select example" name="Gender" formControlName="Gender">
            <option selected value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
          </select>
        </div>

        <!-- Birth Date Picker -->
        <div class="form-outline mb-4">
          <label class="form-label" for="registerBirthDate">Birth Date:</label>
          <div class="input-group date" id="datepicker">
            <input type="date" class="form-control" id="registerBirthDate" name="BirthDate" formControlName="BirthDate" />
          </div>
        </div>

        <!-- Age input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="registerAge">Age</label>
          <input type="number" id="registerAge" class="form-control" name="Age" placeholder="Age" formControlName="Age" />
        </div>

        <!-- Phone input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="registerPhone">Phone:</label>
          <input type="text" class="form-control" id="registerPhone" name="Phone" placeholder="Phone" formControlName="Phone" />
        </div>

        <!-- Address input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="registerAddress">Address:</label>
          <input type="text" class="form-control" id="registerAddress" name="Address" placeholder="Address" formControlName="Address" />
        </div>

        <!-- Department select -->
        <div class="form-outline mb-4">
          <label class="form-label" for="registerDepartment">Department</label>
          <select class="form-select" aria-label="Default select example" id="registerDepartment" name="Department" formControlName="Department">
            <option selected value="">None</option>
            <option value="it">IT</option>
            <option value="qa">QA</option>
            <option value="engineer">Engineer</option>
            <option value="data-science">Data Science</option>
            <option value="ui-ux">UI / UX</option>
            <option value="marketing">Marketing</option>
            <option value="human-resource">Human Resource</option>
          </select>
        </div>

        <!-- Designation input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="registerDesignation">Designation:</label>
          <input type="text" class="form-control" id="registerDesignation" name="Designation" placeholder="Designation" formControlName="Designation" />
        </div>

        <!-- Position select -->
        <div class="form-outline mb-4">
          <label class="form-label" for="registerPosition">Position</label>
          <select class="form-select" aria-label="Default select example" id="registerPosition" name="Position" formControlName="Position">
            <option selected value="">Unknown</option>
            <option value="internship">Internship</option>
            <option value="fresher">Fresher</option>
            <option value="junior">Junior</option>
            <option value="mid">Mid</option>
            <option value="senior">Senior</option>
            <option value="vp">VP</option>
          </select>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="registerEmail">Email</label>
          <input type="email" id="registerEmail" class="form-control" [ngClass]="{'is-invalid': registerForm.controls['Email'].dirty && registerForm.controls['Email'].errors}" name="Email" placeholder="Email" formControlName="Email" />
          <label for="registerEmail" class="form-label text-danger" *ngIf="registerForm.controls['Email'].errors?.['email']">Not a valid email</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="registerPassword">Password</label>
          <input type="password" id="registerPassword" class="form-control" [ngClass]="{'is-invalid': registerForm.controls['Password'].errors?.['minlength']}" name="Password" placeholder="Password" formControlName="Password" />
          <label for="registerPassword" class="form-label text-danger" *ngIf="registerForm.controls['Password'].errors?.['minlength']">Minimum password length should be 5</label>
        </div>

        <!-- Repeat Password input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="registerConfirmPassword">Confirm password</label>
          <input type="password" id="registerConfirmPassword" class="form-control" [ngClass]="{'is-invalid': registerForm.controls['ConfirmPassword'].dirty && registerForm.controls['ConfirmPassword'].errors}" name="ConfirmPassword" placeholder="ConfirmPassword" formControlName="ConfirmPassword" />
          <label for="registerConfirmPassword" class="form-label text-danger" *ngIf="registerForm.controls['ConfirmPassword'].errors?.['minlength']">Minimum password length should be 5</label>
          <label for="registerConfirmPassword" class="form-label text-danger" *ngIf="registerForm.controls['ConfirmPassword'].dirty && registerForm.controls['ConfirmPassword'].errors?.['notmatched']">Password didn't match</label>
        </div>

        <!-- Checkbox -->
        <div class="form-check d-flex justify-content-center mb-4">
          <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked
                 aria-describedby="registerCheckHelpText" />
          <label class="form-check-label" for="registerCheck">
            I have read and agree to the terms
          </label>
        </div>

        <!-- Login buttons -->
        <div class="text-center">
          <p>Already a member? <a routerLink="/auth/login">Login</a></p>
        </div>

        <!-- Submit button -->
        <button [disabled]="!registerForm.valid" type="submit" class="btn btn-primary btn-block mb-3">Sign up</button>
      </form>
    </div>
  </div>
  <!-- Pills content -->
</div>

