<app-default-header></app-default-header>

<app-default-alert class="overlay position-sticky sticky-top"></app-default-alert>

<div class="row">
  <div class="col">
    <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item active"><a class="btn btn-outline-secondary" routerLink="/home">Home</a></li>
        <li class="breadcrumb-item active"><a class="btn btn-outline-secondary" routerLink="/home/users">Users</a></li>
        <li class="breadcrumb-item active"><a class="btn btn-outline-secondary" routerLink="/home/issues">Issues</a></li>
        <li class="breadcrumb-item active"><a class="btn btn-outline-secondary" routerLink="/about">About</a></li>
        <li class="breadcrumb-item active"><a class="btn btn-outline-secondary" routerLink="/contact">Contact</a></li>
        <li class="breadcrumb-item active"><a class="btn btn-outline-secondary" routerLink="/angular-basics">Angular Basics</a></li>
        <li class="breadcrumb-item active"><a class="btn btn-outline-secondary" routerLink="/auth/login">Login</a></li>
        <li class="breadcrumb-item active"><a class="btn btn-outline-secondary" routerLink="/auth/register">Register</a></li>
        <li class="breadcrumb-item active"><a class="btn btn-outline-secondary" routerLink="/auth/forget-password">Forget Password</a></li>
        <li class="breadcrumb-item active"><a class="btn btn-outline-secondary" routerLink="/notfound">404</a></li>
      </ol>
    </nav>
  </div>
</div>

<router-outlet></router-outlet>

<app-default-footer></app-default-footer>


