<!-- Button trigger modal -->
<button type="button" class="{{classNames}}" data-bs-toggle="modal" data-bs-target="#userPopUp">
  {{buttonName}}
</button>

<!-- Modal -->
<div class="modal fade" id="userPopUp" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="userPopUpLabel" aria-hidden="true">
  <form class="modal-dialog modal-lg modal-dialog-centered" #userForm="ngForm" (ngSubmit)="SaveUser(userForm.form)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{buttonName}}</h5>
        <button type="button" class="btn-close" #closeModal data-bs-dismiss="modal" aria-label="Close" (click)="OnModalClose()"></button>
      </div>
      <div class="modal-body">
        <!-- Pills content -->
        <div class="tab-content">
          <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">

            <!-- First Name input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="userFirstName">First Name:</label> <!--appForbiddenName="bob"-->
              <input type="text" class="form-control" [ngClass]="{'is-invalid': FirstName.dirty && FirstName.errors}" #FirstName="ngModel" name="FirstName" placeholder="FirstName" [(ngModel)]="currentProfile.FirstName" pattern="[a-zA-Z ]*" minlength="3" required />
              <p for="userFirstName" class="form-label text-danger" *ngIf="FirstName.errors?.['minlength']">Minimum length should be 3</p>
              <p for="userFirstName" class="form-label text-danger" *ngIf="FirstName.errors?.['pattern']">Not a valid name</p>
            </div>

            <!-- Last Name input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="userLastName">Last Name:</label>
              <input type="text" class="form-control" [ngClass]="{'is-invalid': LastName.dirty && LastName.errors}" #LastName="ngModel" name="LastName" placeholder="LastName" [(ngModel)]="currentProfile.LastName" pattern="[a-zA-Z ]*" minlength="3" required />
              <p for="userLastName" class="form-label text-danger" *ngIf="LastName.errors?.['minlength']">Minimum length should be 3</p>
              <p for="userFirstName" class="form-label text-danger" *ngIf="LastName.errors?.['pattern']">Not a valid name</p>
            </div>

            <!-- Gender select -->
            <div class="form-outline mb-4">
              <label class="form-label" for="userGender">Gender</label>
              <select class="form-select" aria-label="Default select example" #Gender="ngModel" name="Gender" [(ngModel)]="currentProfile.Gender" required>
                <option selected value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
            </div>

            <!-- Birth Date Picker -->
            <div class="form-outline mb-4">
              <label class="form-label" for="userBirthDate">Birth Date:</label>
              <div class="input-group date" id="datepicker">
                <input type="date" class="form-control" #BirthDate="ngModel" name="BirthDate" [ngModel]="currentProfile.BirthDate | date:'yyyy-MM-dd'" (ngModelChange)="currentProfile.BirthDate = $event" [value]="currentProfile.BirthDate | date:'yyyy-MM-dd'" />
              </div>
            </div>

            <!-- Age input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="userAge">Age</label>
              <input type="number" class="form-control" #Age="ngModel" name="Age" placeholder="Age" [(ngModel)]="currentProfile.Age" />
            </div>

            <!-- Phone input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="userPhone">Phone:</label>
              <input type="text" class="form-control" #Phone="ngModel" name="Phone" placeholder="Phone" [(ngModel)]="currentProfile.Phone" />
            </div>

            <!-- Address input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="userAddress">Address:</label>
              <input type="text" class="form-control" #Address="ngModel" name="Address" placeholder="Address" [(ngModel)]="currentProfile.Address" />
            </div>

            <!-- Department select -->
            <div class="form-outline mb-4">
              <label class="form-label" for="userDepartment">Department</label>
              <select class="form-select" aria-label="Default select example" #Department="ngModel" name="Department" [(ngModel)]="currentProfile.Department">
                <option selected value="">None</option>
                <option value="it">IT</option>
                <option value="qa">QA</option>
                <option value="engineer">Engineer</option>
                <option value="data-science">Data Science</option>
                <option value="ui-ux">UI / UX</option>
                <option value="marketing">Marketing</option>
                <option value="human-resource">Human Resource</option>
              </select>
            </div>

            <!-- Designation input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="userDesignation">Designation:</label>
              <input type="text" class="form-control" #Designation="ngModel" name="Designation" placeholder="Designation" [(ngModel)]="currentProfile.Designation" />
            </div>

            <!-- Position select -->
            <div class="form-outline mb-4">
              <label class="form-label" for="userPosition">Position</label>
              <select class="form-select" aria-label="Default select example" #Role="ngModel" name="Position" [(ngModel)]="currentProfile.Position">
                <option selected value="">Unknown</option>
                <option value="internship">Internship</option>
                <option value="fresher">Fresher</option>
                <option value="junior">Junior</option>
                <option value="mid">Mid</option>
                <option value="senior">Senior</option>
                <option value="vp">VP</option>
              </select>
            </div>

            <!-- Role select -->
            <div class="form-outline mb-4">
              <label class="form-label" for="userRole">Role</label>
              <select class="form-select" aria-label="Default select example" #Role="ngModel" name="Role" [(ngModel)]="currentProfile.Role">
                <!--<option >Select Role</option>-->
                <option selected value="user">User</option>
                <option value="moderator">Moderator</option>
                <option value="manager">Manager</option>
                <option value="admin">Admin</option>
              </select>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="userEmail">Email:</label>
              <input type="email" class="form-control" [ngClass]="{'is-invalid': Email.errors?.['email']}" #Email="ngModel" name="Email" placeholder="Email" [(ngModel)]="currentProfile.Email" [email]="true" required />
              <p for="userEmail" class="form-label text-danger" *ngIf="Email.errors?.['email']">Not a valid email</p>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4" *ngIf="!currentProfile.Id">
              <label class="form-label" for="userPassword">Password:</label>
              <input type="password" class="form-control" [ngClass]="{'is-invalid': Password.errors?.['minlength']}" #Password="ngModel" name="Password" placeholder="Password" [(ngModel)]="currentProfile.Password" minlength="5" required />
              <p for="userPassword" class="form-label text-danger" *ngIf="Password.errors?.['minlength']">Minimum password length should be 5</p>
            </div>

            <!-- Gender select -->
            <div class="form-outline mb-4">
              <label class="form-label" for="userStatus">Status</label>
              <select class="form-select" aria-label="Default select example" #Status="ngModel" name="Status" [(ngModel)]="currentProfile.IsActive" required>
                <option selected value="true">Active</option>
                <option value="false">Inactive</option>
              </select>
            </div>

          </div>
        </div>
        <!-- Pills content -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="OnModalClose()">Close</button>

        <!-- Submit button -->
        <button [disabled]="!userForm.form.valid" type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>
  </form>
</div>
