<h1 class="display-1 text-center">Issues :</h1>

<!--<app-ng-smart-table [settings]="NgSmartTableSettings"
                    [data]="issuesList"
                    (CreateEvent)="NgTableOnCreate($event)"
                    (UpdateEvent)="NgTableOnUpdate($event)"
                    (DeleteEvent)="NgTableOnDelete($event)">
</app-ng-smart-table>-->

<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-md-12 col-xl-10">

        <div class="card">
          <div class="card-header p-3">
            <h5 class="mb-0"><i class="fas fa-tasks me-2"></i>Task List</h5>
          </div>
          <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 700px; overflow-y: scroll;">

            <table class="table mb-0">
              <thead>
                <tr>
                  <th scope="col">Team Member</th>
                  <th scope="col">Type</th>
                  <th scope="col">Title</th>
                  <th scope="col">Summary</th>
                  <th scope="col">Status</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr class="fw-normal" *ngFor="let issue of issuesList; let i = index">
                  <th>
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-5.webp"
                         class="shadow-1-strong rounded-circle" alt="avatar 1"
                         style="width: 55px; height: auto;">
                    <span class="ms-2">{{issue.AssignedName}}</span>
                  </th>
                  <td class="align-middle">
                    <span>{{issue.Type}}</span>
                  </td>
                  <td class="align-middle">
                    <span>{{issue.Title}}</span>
                  </td>
                  <td class="align-middle">
                    <span>{{issue.Summary}}</span>
                  </td>
                  <td class="align-middle">
                    <!--<h6 class="mb-0"><span class="badge bg-danger">{{issue.Status}}</span></h6>-->
                    <div class="form-outline mb-2 mt-2">
                      <select id="issueStatus" class="form-select badge bg-danger" aria-label="Default select example" name="Status" (change)="OnStatusChange(issue, $event)" >
                        <option [selected]="issue.Status=='pending'" value="pending">Pending</option>
                        <option [selected]="issue.Status=='in-progress'" value="in-progress">In-Progress</option>
                        <option [selected]="issue.Status=='done'" value="done">Done</option>
                        <option [selected]="issue.Status=='discarded'" value="discarded">Discarded</option>
                      </select>
                    </div>
                  </td>
                  <td class="align-middle">
                    <button class="btn" data-mdb-toggle="tooltip" title="Edit" (click)="OnUpdate(issue)">
                      <i class="fas fa-edit text-success me-2"></i>
                    </button>
                    <!--<button class="btn" data-mdb-toggle="tooltip" title="Remove" [disabled]="issue.CreatedBy!=loggedUser.Id">
                      <i class="fas fa-trash-alt text-danger"></i>
                    </button>-->

                    <div class="dropdown">
                      <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" title="Remove" [disabled]="issue.CreatedBy!=loggedUser.Id">
                        <i class="fas fa-trash-alt text-danger"></i>
                      </button>
                      <ul class="dropdown-menu">
                        <li><button class="dropdown-item" (click)="OnDelete(issue)">Yes</button></li>
                        <li><button class="dropdown-item" >No</button></li>
                      </ul>
                    </div>
                  </td>
                </tr>

                <!--<tr class="fw-normal">
                  <th>
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-4.webp"
                         class="shadow-1-strong rounded-circle" alt="avatar 1"
                         style="width: 55px; height: auto;">
                    <span class="ms-2">Kate Moss</span>
                  </th>
                  <td class="align-middle">Make payment to Bluedart</td>
                  <td class="align-middle">
                    <h6 class="mb-0"><span class="badge bg-success">Low priority</span></h6>
                  </td>
                  <td class="align-middle">
                    <a href="#!" data-mdb-toggle="tooltip" title="Done">
                      <i class="fas fa-check text-success me-3"></i>
                    </a>
                    <a href="#!" data-mdb-toggle="tooltip" title="Remove">
                      <i class="fas fa-trash-alt text-danger"></i>
                    </a>
                  </td>
                </tr>
                <tr class="fw-normal">
                  <th>
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                         class="shadow-1-strong rounded-circle" alt="avatar 1"
                         style="width: 55px; height: auto;">
                    <span class="ms-2">Danny McChain</span>
                  </th>
                  <td class="align-middle">Office rent</td>
                  <td class="align-middle">
                    <h6 class="mb-0"><span class="badge bg-warning">Middle priority</span></h6>
                  </td>
                  <td class="align-middle">
                    <a href="#!" data-mdb-toggle="tooltip" title="Done">
                      <i class="fas fa-check text-success me-3"></i>
                    </a>
                    <a href="#!" data-mdb-toggle="tooltip" title="Remove">
                      <i class="fas fa-trash-alt text-danger"></i>
                    </a>
                  </td>
                </tr>
                <tr class="fw-normal">
                  <th>
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-3.webp"
                         class="shadow-1-strong rounded-circle" alt="avatar 1"
                         style="width: 55px; height: auto;">
                    <span class="ms-2">Alexa Chung</span>
                  </th>
                  <td class="align-middle">Office grocery shopping</td>
                  <td class="align-middle">
                    <h6 class="mb-0"><span class="badge bg-danger">High priority</span></h6>
                  </td>
                  <td class="align-middle">
                    <a href="#!" data-mdb-toggle="tooltip" title="Done">
                      <i class="fas fa-check text-success me-3"></i>
                    </a>
                    <a href="#!" data-mdb-toggle="tooltip" title="Remove">
                      <i class="fas fa-trash-alt text-danger"></i>
                    </a>
                  </td>
                </tr>
                <tr class="fw-normal">
                  <th class="">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-8.webp"
                         class="shadow-1-strong rounded-circle" alt="avatar 1"
                         style="width: 55px; height: auto;">
                    <span class="ms-2">Ben Smith</span>
                  </th>
                  <td class="align-middle">Ask for Lunch to Clients</td>
                  <td class="align-middle">
                    <h6 class="mb-0"><span class="badge bg-success">Low priority</span></h6>
                  </td>
                  <td class="align-middle">
                    <a href="#!" data-mdb-toggle="tooltip" title="Done">
                      <i class="fas fa-check text-success me-3"></i>
                    </a>
                    <a href="#!" data-mdb-toggle="tooltip" title="Remove">
                      <i class="fas fa-trash-alt text-danger"></i>
                    </a>
                  </td>
                </tr>
                <tr class="fw-normal">
                  <th class="border-0">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-2.webp"
                         class="shadow-1-strong rounded-circle" alt="avatar 1"
                         style="width: 55px; height: auto;">
                    <span class="ms-2">Annie Hall</span>
                  </th>
                  <td class="border-0 align-middle">Create weekly tasks plan</td>
                  <td class="border-0 align-middle">
                    <h6 class="mb-0"><span class="badge bg-warning">Medium priority</span></h6>
                  </td>
                  <td class="border-0 align-middle">
                    <a href="#!" data-mdb-toggle="tooltip" title="Done">
                      <i class="fas fa-check text-success me-3"></i>
                    </a>
                    <a href="#!" data-mdb-toggle="tooltip" title="Remove">
                      <i class="fas fa-trash-alt text-warning"></i>
                    </a>
                  </td>
                </tr>-->
              </tbody>
            </table>

          </div>
          <div class="card-footer position-relative p-md-4 mb-2 mt-2">
            <div class="position-absolute bottom-0 end-50">
              <app-add-issue [loggedUser]="loggedUser" (UpdateIssueList)="UpdateIssueList($event)"></app-add-issue>
            </div>       
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
