<h1 class="display-1 text-center">Demo To-Do Jira Portfolio</h1>

<!--<app-user-panel></app-user-panel>
<app-issue-panel></app-issue-panel>-->

<nav class="nav nav-pills nav-fill">
  <a *ngIf="isAdmin" class="nav-link active" [ngClass]="{'active': activeTab=='users'}" (click)="SwitchTab('users')" routerLink="users">Users</a>
  <a class="nav-link" [ngClass]="{'active': activeTab=='issues'}" (click)="SwitchTab('issues')" routerLink="issues">Issues</a>
  <!--<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
</nav>

<!--<app-add-user [loggedUser]="loggedUser" *ngIf="isAdmin"></app-add-user>-->
<app-add-user [loggedUser]="loggedUser"></app-add-user>
<app-add-issue [loggedUser]="loggedUser"></app-add-issue>

<router-outlet></router-outlet>
