<!--<h1 class="display-1 text-center">Demo To-Do Jira Portfolio</h1>-->

<section style="background-color: #eee;">
  <div class="container-fluid py-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
            <li class="breadcrumb-item"><a routerLink="users">User</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-header bg-secondary bg-gradient text-center" *ngIf="isUserSelected">
            <span class="fs-5 fw-bold text-white mt-2">Selected User</span>
            <div class="position-relative mt-2">
              <div class="position-absolute bottom-0 end-0">
                <button type="button" class="btn btn-danger" (click)="UndoSelectedUser()"><i class="fa-solid fa-xmark"></i></button>
              </div>
            </div>         
          </div>
          <div class="card-body">  <!--customBackground-->
            <div class="d-flex text-black">
              <div class="flex-shrink-0">
                <img src="{{currentProfile.Img}}"
                     onerror="this.src='https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png';"
                     alt="Generic placeholder image" class="img-fluid"
                     style="width: 180px; border-radius: 10px;">
              </div>
              <div class="flex-grow-1 ms-3">
                <h5 class="mb-1">{{currentProfile.FirstName + ' ' + currentProfile.LastName | titlecase}}</h5>
                <p class="mb-2 pb-1" style="color: #2b2a2a;">{{currentProfile.Department | titlecase}}  <span *ngIf="currentProfile.Department"> Department</span></p>
                <p class="mb-2 pb-1" style="color: #2b2a2a;">{{currentProfile.Position | titlecase}} {{currentProfile.Designation| titlecase}}</p>
                <div class="d-flex justify-content-start rounded-3 p-2 mb-2"
                     style="background-color: #efefef;">
                  <div>
                    <p class="small text-muted mb-1">Pending</p>
                    <p class="mb-0">{{userIssueProgress.Pending}}</p>
                  </div>
                  <div class="px-3">
                    <p class="small text-muted mb-1">In-Progress</p>
                    <p class="mb-0">{{userIssueProgress.InProgress}}</p>
                  </div>
                  <div>
                    <p class="small text-muted mb-1">Done</p>
                    <p class="mb-0">{{userIssueProgress.Done}}</p>
                  </div>
                  <div class="px-3">
                    <p class="small text-muted mb-1">Discarded</p>
                    <p class="mb-0">{{userIssueProgress.Discarded}}</p>
                  </div>
                  <div>
                    <p class="small text-muted mb-1">Total</p>
                    <p class="mb-0">{{userIssueProgress.Total}}</p>
                  </div>
                </div>
                <div class="d-flex pt-1">
                  <app-default-file-uploader [to]="'https://localhost:7074/api/User/'" *ngIf="isChangingPhoto"></app-default-file-uploader>
                  <button type="button" class="btn btn-outline-secondary me-1 flex-grow-1" [disabled]="loggedUser.Id!=currentProfile.Id" *ngIf="isChangingPhoto==false" (click)="ChangePhoto()">Change Photo</button>
                  <!--<button type="button" class="btn btn-outline-success flex-grow-1">Edit</button>-->
                  <app-add-user class="ms-2" [currentProfile]="currentProfile" [classNames]="'btn btn-outline-success flex-grow-1'" [buttonName]="'Edit User'"></app-add-user>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body"> <!--customHostListener-->
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{currentProfile.Email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Gender</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{currentProfile.Gender}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Birth Date</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{currentProfile.BirthDate | date :'shortDate'}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Age</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{currentProfile.Age}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{currentProfile.Phone}}</p>
              </div>
            </div>
            <hr>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Address</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{currentProfile.Address}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mt-4 mb-lg-0">
          <div class="card-body">  <!--[customHostListener]="currentProfile.IsActive"-->
            <p class="mb-4">
              <span class="text-primary font-italic me-1">Assiged</span> Issue Status
            </p>
            <p class="mb-1" style="font-size: .77rem;">Pending: {{userIssueProgress.PendingRatio}}%</p>
            <div class="progress rounded" style="height: 5px;">
              <div class="progress-bar bg-secondary" role="progressbar" [ngStyle]="{'width': userIssueProgress.PendingRatio + '%'}" attr.aria-valuenow="{{userIssueProgress.PendingRatio}}"
                   aria-valuemin="0" [attr.aria-valuemax]="userIssueProgress.TotalRatio"></div>
            </div>
            <p class="mt-4 mb-1" style="font-size: .77rem;">In-Progress: {{userIssueProgress.InProgressRatio}}%</p>
            <div class="progress rounded" style="height: 5px;">
              <div class="progress-bar bg-primary" role="progressbar" [ngStyle]="{'width': userIssueProgress.InProgressRatio + '%'}" attr.aria-valuenow="{{userIssueProgress.InProgressRatio}}"
                   aria-valuemin="0" [attr.aria-valuemax]="userIssueProgress.TotalRatio"></div>
            </div>
            <p class="mt-4 mb-1" style="font-size: .77rem;">Done: {{userIssueProgress.DoneRatio}}%</p>
            <div class="progress rounded" style="height: 5px;">
              <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width': userIssueProgress.DoneRatio + '%'}" attr.aria-valuenow="{{userIssueProgress.DoneRatio}}"
                   aria-valuemin="0" [attr.aria-valuemax]="userIssueProgress.TotalRatio"></div>
            </div>
            <p class="mt-4 mb-1" style="font-size: .77rem;">Discarded: {{userIssueProgress.DiscardedRatio}}%</p>
            <div class="progress rounded" style="height: 5px;">
              <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{'width': userIssueProgress.DiscardedRatio + '%'}" attr.aria-valuenow="{{userIssueProgress.DiscardedRatio}}"
                   aria-valuemin="0" [attr.aria-valuemax]="userIssueProgress.TotalRatio"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">

            <nav class="nav nav-pills nav-fill mb-2">
              <a *ngIf="isAdmin" class="nav-link active" [ngClass]="{'active': activeTab=='users'}" (click)="SwitchTab('users')" routerLink="users">Users</a>
              <a class="nav-link" [ngClass]="{'active': activeTab=='issues'}" (click)="SwitchTab('issues')" routerLink="issues">Issues</a>
            </nav>

            <router-outlet></router-outlet>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
