<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2" *ngIf="isAuthenticated">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">Contact</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" routerLink="angular-basics">Angular Basics</a>
        </li>
      </ul>
    </div>
    <div class="mx-auto order-0">
      <a class="navbar-brand" routerLink="home">
        <img src="/favicon.ico" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Demo App
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" *ngIf="!isAuthenticated">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="auth/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="auth/register">Register</a>
        </li>
      </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" *ngIf="isAuthenticated">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="" (click)="Logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
