<!--<h1 class="display-1 text-center">Users :</h1>-->

<div class="col-md-12">
  <div class="card">
    <div class="card-header p-3">
      <div class="position-relative">
        <!--<div class="position-absolute bottom-0 end-100">-->
          <div class="row">
            <div class="col-md-5 mx-auto">
              <div class="input-group">
                <input class="form-control border-end-0 border rounded-pill" type="search" [(ngModel)]="searchEmail" placeholder="search email" id="example-search-input">
                <span class="input-group-append">
                  <button class="btn btn-outline-secondary bg-white border rounded-pill ms-n5" type="button">
                    <i class="fa fa-search"></i>
                  </button>
                  <app-add-user class="ms-2" [currentProfile]="newProfile" [classNames]="'btn btn-primary'" [buttonName]="'Add User'"></app-add-user>
                </span>
              </div>
            </div>
          <!--</div>-->
        </div>
        <div class="position-absolute bottom-0 end-0">
          <select id="pageSize" class="form-select" aria-label="Default select example" name="pageSize" [(ngModel)]="pager.PageSize" (change)="LoadTable()">
            <option [disabled]="true" [value]="pager.PageSize">Page Size ({{pager.PageSize}})</option>
            <option [disabled]="pager.PageSize==5" value="5">5</option>
            <option [disabled]="pager.PageSize==10" value="10">10</option>
            <option [disabled]="pager.PageSize==20" value="20">20</option>
            <option [disabled]="pager.PageSize==50" value="50">50</option>
          </select>
        </div>
      </div>
    </div>
    <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 650px; overflow-y: scroll;">

      <table class="table mb-0 align-middle bg-white">
        <thead class="bg-light">
          <tr>
            <th>Name</th>
            <th>Designation</th>
            <th>Status</th>
            <th>Position</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of usersList; let i = index">
            <td>
              <div class="d-flex align-items-center" customBackground>
                <img src="{{user.Img}}"
                     onerror="this.src='https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png';"
                     alt=""
                     style="width: 45px; height: 45px"
                     class="rounded-circle" />
                <div class="ms-3">
                  <p class="fw-bold mb-1">{{user.FirstName + ' ' + user.LastName}}</p>
                  <p class="text-muted mb-0">{{user.Email}}</p>
                </div>
              </div>
            </td>
            <td customRender2>
              <p class="fw-normal mb-1">{{user.Designation}}</p>
              <p class="text-muted mb-0">{{user.Department}} <span *ngIf="user.Department"> department</span> </p>
            </td>
            <td>
              <span class="badge bg-secondary rounded-pill d-inline">Active</span>
            </td>
            <td>{{user.Position | titlecase}}</td>
            <td>
              <button type="button" class="btn btn-secondary btn-sm btn-rounded" (click)="ShowUserDetails(user)">
                <i class="fa-solid fa-eye"></i>
              </button>
            </td>
          </tr>
          <!--<tr>
            <td>
              <div class="d-flex align-items-center">
                <img src="https://mdbootstrap.com/img/new/avatars/6.jpg"
                     class="rounded-circle"
                     alt=""
                     style="width: 45px; height: 45px" />
                <div class="ms-3">
                  <p class="fw-bold mb-1">Alex Ray</p>
                  <p class="text-muted mb-0">alex.ray@gmail.com</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1">Consultant</p>
              <p class="text-muted mb-0">Finance</p>
            </td>
            <td>
              <span class="badge badge-primary rounded-pill d-inline">Onboarding</span>
            </td>
            <td>Junior</td>
            <td>
              <button type="button"
                      class="btn btn-link btn-rounded btn-sm fw-bold"
                      data-mdb-ripple-color="dark">
                Edit
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img src="https://mdbootstrap.com/img/new/avatars/7.jpg"
                     class="rounded-circle"
                     alt=""
                     style="width: 45px; height: 45px" />
                <div class="ms-3">
                  <p class="fw-bold mb-1">Kate Hunington</p>
                  <p class="text-muted mb-0">kate.hunington@gmail.com</p>
                </div>
              </div>
            </td>
            <td>
              <p class="fw-normal mb-1">Designer</p>
              <p class="text-muted mb-0">UI/UX</p>
            </td>
            <td>
              <span class="badge badge-warning rounded-pill d-inline">Awaiting</span>
            </td>
            <td>Senior</td>
            <td>
              <button type="button"
                      class="btn btn-link btn-rounded btn-sm fw-bold"
                      data-mdb-ripple-color="dark">
                Edit
              </button>
            </td>
          </tr>-->
        </tbody>
      </table>

    </div>

    <app-default-pagination (UpdatePager)="UpdatePager($event)"></app-default-pagination>

    <!--<app-ng-smart-table [settings]="NgSmartTableSettings"
                        [data]="usersList"
                        (CreateEvent)="NgTableOnCreate($event)"
                        (UpdateEvent)="NgTableOnUpdate($event)"
                        (DeleteEvent)="NgTableOnDelete($event)">
    </app-ng-smart-table>-->

  </div>
</div>
